.checkboxes{
    display: inline-block;
    position: relative;
    padding: 2%;
    width: 22%;
    background: #fff;
    border-radius: 5%;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    -webkit-backface-visibility: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}
.opboxes{
    display: inline-block;
    position: relative;
    padding: 2%;
    width: 25%;
    background: #fff;
    border-radius: 5%;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    -webkit-backface-visibility: hidden;
    margin-bottom: 10px;
}
.options-control-container{
    margin-bottom: 3%;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; 
}

.thumb-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
  
  
.thumb-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 50, 186, 0.5);
}

.image-holder {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
.image-holder-dialog {
    border: 1px solid #b0b1b4;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
  }
  /* .carousel.slide{
    border: 2px solid #4e53784d;
    border-radius: 4px;
    height: 304px;
  } */
.dialog-container.dynamic{
    
    width: 800px !important; 
    /* width: 50% !important; */
}
.line-break {
    width: 100%;
}
.fotorama{
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding-top: 10px;
}
.img-holder{
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  padding: 2px;
  background-color: #f2f2f2;  
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
  margin-bottom: 7px;
}

  