
    body {font-family: Arial, Helvetica, sans-serif;
background-image: url("https://wallpaperplay.com/walls/full/5/3/c/195358.jpg");
 background-size: cover
 }
*{box-sizing: border-box}

input[type=text], input[type=tel], input[type=email], select, textarea {
width: 50%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 10px;
resize: vertical;
}


/* input[type=submit] {
background-color: rgb(11, 17, 94);
color: white;
padding: 12px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #220969;
} */
.imgcontainer {
text-align: right;
margin: 24px 0 12px 0;
position: relative;
}   
img.avatar {
width: 30%;
border-radius: 30%;
}
/* .container {
text-align:justify;
border-radius: 5px;
padding: 20px;

width: 40%;
} */
.container2 {
text-align:justify;
border-radius: 5px;
background-color: #f2f2f29c;
padding: 20px;
width: 50%
}
.column {
    float: left;
    width: 50%;
    top:10px;
}

